.message{
  margin-top: 20px;
}

.page-footer{
  background-color: #393E46;
  margin-top: 40px;
}

.fa{
  margin: 10px;
}

.title{
  color: #FFEDA3;
}

.input-group-text{
  background-color: #FFEDA3; 
}
